<!DOCTYPE html>
<html>
<head>
    <title>Nova Tarefa</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Criar Nova Tarefa</h1>

<div class="container">
    <form action="/tarefas" method="post">
        
        <label>Título:</label>
        <input type="text" name="titulo" required>

        <label>Descrição:</label>
        <textarea name="descricao" required></textarea>

        <button type="submit" class="btn btn-done">Salvar</button>

    </form>
</div>

<a href="/tarefas">Voltar</a>

</body>
</html>
