<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Lista de Tarefas</h1>

<div class="container">
    <ul>
        <li>
            Tarefa 1
            <button type="button" class="btn btn-done">Concluir</button>
            <button type="button" class="btn btn-delete">Excluir</button>
        </li>

        <li>
            Tarefa 2
            <button type="button" class="btn btn-done">Concluir</button>
            <button type="button" class="btn btn-delete">Excluir</button>
        </li>
    </ul>
</div>

<a href="/tarefas/formulario">Nova Tarefa</a>

</body>
</html>
